<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
</head>
<body class="animated-background">
    <section class="container-fluid">
        <div class="header">
            <h1 id="heading">Player <span class="accent">Analysis</span></h1>
        </div>
        <div class="content">
            <div class="playerimg">
                <img src="{{ url_for('static', filename='images/pic.png') }}" alt="Image Description">
            </div>
            <div class="box">
                <!-- Add a dropdown menu for selecting the format -->
               
                <form id="formatSelectionForm">
                    <label for="formatSelect">Select Format:</label>
                    <select id="formatSelect">
                        <option value="t20">T20</option>
                        <option value="odi">ODI</option>
                        <option value="test">Test</option>
                    </select>
                </form>
                <form id="calculatorForm" name="search">
                    <label>Enter strike rate:</label>
                    <input type="number" id="inputNumber" class="input">
                    <button type="submit" id="srbtn" style="display: none;">Submit strike rate</button>
                </form>
                <label>Result: <span id="result"></span></label>
            </div>
        </div>
    </section>

    

    <script>
        document.getElementById("formatSelectionForm").addEventListener("change", function () {
            // Get the selected format
            const selectedFormat = document.getElementById("formatSelect").value;

            // Update the form action based on the selected format
            document.getElementById("calculatorForm").action = `/calculate_${selectedFormat}`;

            // Optionally, you can clear the result when changing formats
            document.getElementById("result").textContent = "";
        });

        document.getElementById("calculatorForm").addEventListener("submit", function (event) {
            event.preventDefault();
            const number = document.getElementById("inputNumber").value;

            // Get the selected format
            const selectedFormat = document.getElementById("formatSelect").value;

            fetch(`/calculate_${selectedFormat}`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ number: number })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").textContent = data.result;
            });
        });
    </script>
</body>
</html>
